@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&display=swap');

body {
  background-color: #f8f8f8;
  font-family: 'Architects Daughter', cursive;
}

.btn.like-btn,
.btn.info-btn,
.btn.share-btn {
  transition: all 0.2s ease-in-out;
}

.btn.like-btn:focus,
.btn.info-btn:focus,
.btn.share-btn:focus {
  box-shadow: none;
}

.btn.like-btn:hover,
.btn.info-btn:hover,
.btn.share-btn:hover {
  transform: scale(1.2);
}

.card.dropdown-card {
  border: none;
}

.card {
  border-radius: 0%;
}

.welcome {
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.banner-subtitle {
  color: #f8f8f8;
  font-family: 'Architects Daughter', cursive;
}

.site-name {
  font-size: 5rem;
  font-weight: bold;
  color: #f8f8f8;
  font-family: 'Shadows Into Light', cursive;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.home-button {
  color: white;
}

.btn.home-btn {
  background-color: black;
}

.loading {
  margin-top: 30vh;
}

.media {
  position: relative;
}

.media .badge {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background: rgba(50, 50, 50, 0.3);
  font-size: 20px;
  border: 1px solid white;
  border-radius: 15px;
}
