.whole-page {
  background-color: #f8f8f8;
}

.btn.like-btn,
.btn.info-btn,
.btn.share-btn {
  transition: all 0.2s ease-in-out;
}

.btn.like-btn:focus,
.btn.info-btn:focus,
.btn.share-btn:focus {
  box-shadow: none;
}

.btn.like-btn:hover,
.btn.info-btn:hover,
.btn.share-btn:hover {
  transform: scale(1.2);
}

.card.dropdown-card {
  border: none;
}

.card {
  border-radius: 0%;
}

.welcome {
  /* background-image: url('https://images.unsplash.com/photo-1467685790346-20bfe73a81f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80'); */
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.welcome-sentence {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.intro-para {
  color: black;
  font-size: medium;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.home-button {
  color: white;
}

.btn.home-btn {
  background-color: black;
}
